name: Publish Package to npmjs

on:
    workflow_dispatch:

    repository_dispatch:
        types: [release]

    push:
        tags: ['*']

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci --legacy-peer-deps --no-update-notifier

            - name: Lint
              run: npm run lint

    test:
        name: Test
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci --legacy-peer-deps --no-update-notifier

            - name: Test
              run: npm run test

    build:
        name: Build
        runs-on: ubuntu-latest
        needs: [lint, test]

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci --legacy-peer-deps --no-update-notifier

            - name: Build
              run: npm run build

            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: build
                  path: build/
                  retention-days: 1

    publish:
        name: Publish
        runs-on: ubuntu-latest
        needs: build

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: build/

            - name: Publish
              run: NPM_TOKEN=${{ secrets.NPM_TOKEN }} npm publish ./ --access public

            - name: Get tag
              id: get_version
              run: |
                  VERSION=$(node -p "require('./package.json').version")
                  echo "VERSION=$VERSION" >> $GITHUB_ENV
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Show new version
              run: |
                  VERSION=${{ steps.get_version.outputs.version }}
                  PACKAGE_NAME="jodit-react"
                  echo "[New version npm](https://www.npmjs.com/package/${PACKAGE_NAME}/v/${VERSION})" >> $GITHUB_STEP_SUMMARY
